# SUKL DLP (cz: datábaze léčivých přípravků, eng: database of medicinal products)

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 50)

In [3]:
products = pd.read_csv("../databaze/DLP20240229/dlp_lecivepripravky.csv",
                       encoding="cp1250", delimiter=";")
substances_with_ATC = pd.read_csv("../databaze/DLP20240229/dlp_atc.csv", encoding="cp1250", delimiter=";")
substances_sukl_code = pd.read_csv("../databaze/DLP20240229/dlp_latky.csv", encoding="cp1250", delimiter=";"
           )[["KOD_LATKY", "NAZEV_INN", "NAZEV_EN", "NAZEV"]]
content_drugs = pd.read_csv("../databaze/DLP20240229/dlp_slozeni.csv", encoding="cp1250", delimiter=";")
synonyms = pd.read_csv("../databaze/DLP20240229/dlp_synonyma.csv", encoding="cp1250", delimiter=";")

In [4]:
print(len(products))
products.head(5)

64850

,KOD_SUKL,H,NAZEV,SILA,FORMA,BALENI,CESTA,DOPLNEK,OBAL,DRZ,ZEMDRZ,AKT_DRZ,AKT_ZEM,REG,V_PLATDO,NEOMEZ,UVADENIDO,IS_,ATC_WHO,RC,SDOV,SDOV_DOV,SDOV_ZEM,REG_PROC,DDDAMNT_WHO,DDDUN_WHO,DDDP_WHO,ZDROJ_WHO,LL,VYDEJ,ZAV,DOPING,NARVLA,DODAVKY,EAN,BRAILLOVO_PISMO,EXP,EXP_T,NAZEV_REG,MRP_CISLO,PRAVNI_ZAKLAD_REGISTRACE,OCHRANNY_PRVEK
0,9,NaN,ACYLCOFFIN,450MG/50MG,TBL NOB,10,POR,450MG/50MG TBL NOB 10,BLI,ZNB,SK,NaN,NaN,R,NaN,X,NaN,7,N02BA51,07/ 049/69-S/C,NaN,NaN,NaN,NAR,6,UD,"2,963",NO24,"12,223",F,NaN,NaN,NaN,1,NaN,S,36.0,M,ACYLCOFFIN,NaN,L,NaN
1,113,NaN,DILURAN,250MG,TBL NOB,20,POR,250MG TBL NOB 20,BLI,ZNP,CZ,NaN,NaN,R,NaN,X,NaN,64,S01EC01,64/ 405/69-C,NaN,NaN,NaN,NAR,"0,75",G,"6,6666",NO24,1631,R,NaN,S5D,NaN,1,NaN,S,36.0,M,DILURAN,NaN,L,A
2,168,NaN,HYDROCHLOROTHIAZID LÉČIVA,25MG,TBL NOB,20,POR,25MG TBL NOB 20,BLI,ZNP,CZ,NaN,NaN,R,NaN,X,NaN,50,C03AA03,50/ 408/69-C,NaN,NaN,NaN,NAR,25,MG,20,NO24,728,R,NaN,S5D,NaN,1,NaN,S,36.0,M,HYDROCHLOROTHIAZID LÉČIVA,NaN,L,A
3,269,NaN,PREDNISON LÉČIVA,5MG,TBL NOB,20,POR,5MG TBL NOB 20,BLI,ZNP,CZ,NaN,NaN,R,NaN,X,NaN,56,H02AB07,56/ 471/69-C,NaN,NaN,NaN,NAR,10,MG,10,NO24,1190,R,NaN,S9,NaN,1,NaN,S,36.0,M,PREDNISON LÉČIVA,NaN,L,A
4,280,NaN,PYRIDOXIN LÉČIVA,20MG,TBL NOB,20,POR,20MG TBL NOB 20,BLI,ZNP,CZ,NaN,NaN,R,NaN,X,NaN,86,A11HA02,86/ 665/69-C,NaN,NaN,NaN,NAR,"0,16",G,"2,5",NO24,1230,F,NaN,NaN,NaN,1,NaN,S,36.0,M,PYRIDOXIN LÉČIVA,NaN,L,NaN

In [5]:
print(len(substances_with_ATC))
substances_with_ATC.head(5)

6810

       ATC NT                          NAZEV                         NAZEV_EN
0        A  N   TRÁVICÍ TRAKT A METABOLISMUS  ALIMENTARY TRACT AND METABOLISM
1      A01  N       STOMATOLOGICKÉ PŘÍPRAVKY      STOMATOLOGICAL PREPARATIONS
2     A01A  N       STOMATOLOGICKÉ PŘÍPRAVKY      STOMATOLOGICAL PREPARATIONS
3    A01AA  N  LÁTKY K PREVENCI ZUBNÍHO KAZU       CARIES PROPHYLACTIC AGENTS
4  A01AA01  N                  FLUORID SODNÝ                  SODIUM FLUORIDE

In [6]:
print(len(substances_sukl_code))
substances_sukl_code.head(5)

20493

,KOD_LATKY,NAZEV_INN,NAZEV_EN,NAZEV
0,-1,OR:,NaN,NEBO:
1,0,CORRESPONDING TO:,NaN,ODPOVÍDÁ:
2,1,ABSINTHII HERBA,WORMWOOD,PELYŇKOVÁ NAŤ
3,2,AURANTII AMARI FLORIS AROMA,NEROLI FLAVOUR,AROMA KVĚTU CITRONÍKU POMERANČOVÉHO HOŘKÉHO
4,3,ACECARBROMALUM,ACECARBROMAL,ACEKARBROMAL

In [7]:
print(len(content_drugs))
content_drugs.head(5)

730737

   KOD_SUKL  KOD_LATKY  SQ  S AMNT_OD AMNT  UN
0         9       12.0   1  L     NaN  450  MG
1         9      223.0   2  L     NaN   50  MG
2         9     2898.0   3  X     NaN   PL  MG
3         9     1871.0   4  X     NaN   PL  MG
4       113     1631.0   1  L     NaN  250  MG

In [8]:
print(len(synonyms))
synonyms.head(5)

265030

   KOD_LATKY   SQ ZDROJ                           NAZEV
0          1  1.0    CZ  ARTEMISIA ABSINTHIUM L., HERBA
1          1  2.0  C03S      HERBA ARTEMISIAE ABSINTHII
2          1  3.0   Y03              ABSINTHII SUMMITAS
3          1  4.0  HH5S    ABSINTHII CACUMINA FLORENTIA
4          1  5.0   C04                 HERBA ABSINTHII

## Medicines

In [9]:
products = products[["KOD_SUKL", "NAZEV", "SILA", "FORMA", "ATC_WHO", "NAZEV_REG"]]
print(len(products))
print(len(products[["NAZEV", "ATC_WHO"]].drop_duplicates()))

products.head(5)

64850
6944

,KOD_SUKL,NAZEV,SILA,FORMA,ATC_WHO,NAZEV_REG
0,9,ACYLCOFFIN,450MG/50MG,TBL NOB,N02BA51,ACYLCOFFIN
1,113,DILURAN,250MG,TBL NOB,S01EC01,DILURAN
2,168,HYDROCHLOROTHIAZID LÉČIVA,25MG,TBL NOB,C03AA03,HYDROCHLOROTHIAZID LÉČIVA
3,269,PREDNISON LÉČIVA,5MG,TBL NOB,H02AB07,PREDNISON LÉČIVA
4,280,PYRIDOXIN LÉČIVA,20MG,TBL NOB,A11HA02,PYRIDOXIN LÉČIVA

In [10]:
len(products[products.apply(lambda x: x.NAZEV != x.NAZEV_REG, axis=1)]) / len(products) * 100

0.3500385505011565

In [11]:
products[products.apply(lambda x: x.NAZEV != x.NAZEV_REG, axis=1)].sample(10, random_state=42)

,KOD_SUKL,NAZEV,SILA,FORMA,ATC_WHO,NAZEV_REG
668,13605,LODOZ,"10MG/6,25MG",TBL FLM,C07BB07,"LODOZ 10 MG/6,25 MG"
28921,214839,LAMOTRIGINE FARMAX,50MG,TBL NOB,N03AX09,LAMOTRIGINE FARMAX 50 MG TABLETY
959,16464,EXCIPIAL,NaN,UNG,D02AC,EXCIPIAL MAST
28186,212402,CALCIUM FOLINATE KABI,10MG/ML,INJ/INF SOL,V03AF03,CALCIUM FOLINATE KABI 10 MG/ML
28931,214849,LAMOTRIGINE FARMAX,100MG,TBL NOB,N03AX09,LAMOTRIGINE FARMAX 100 MG TABLETY
19474,185261,BCG-MEDAC,2X10^8-3X10^9BCG,IVS PLQ SUS,L03AX03,BCG-MEDAC PRÁŠEK A ROZPOUŠTĚDLO PRO INTRAVEZIK...
28188,212404,CALCIUM FOLINATE KABI,10MG/ML,INJ/INF SOL,V03AF03,CALCIUM FOLINATE KABI 10 MG/ML
24224,200684,IKAMETIN,150MG,TBL FLM,M05BA06,IKAMETIN 150 MG
14686,162442,PARAMEGAL,500MG,TBL NOB,N02BE01,PARAMEGAL 500 MG
10133,128123,BINABIC,50MG,TBL FLM,L02BB03,BINABIC 50 MG

## ATC substances

In [12]:
temp = substances_with_ATC[["ATC", "NAZEV_EN"]]
temp = temp.rename(columns={"NAZEV_EN":"NAZEV"})
temp.index = temp.index + len(substances_with_ATC)
substances_with_ATC_concat = pd.concat([substances_with_ATC[["ATC", "NAZEV"]], temp])

substances_with_ATC_concat.head(3)

    ATC                         NAZEV
0     A  TRÁVICÍ TRAKT A METABOLISMUS
1   A01      STOMATOLOGICKÉ PŘÍPRAVKY
2  A01A      STOMATOLOGICKÉ PŘÍPRAVKY

In [13]:
print(len(substances_with_ATC))
print(len(substances_with_ATC[["ATC", "NAZEV"]].drop_duplicates()))
print(len(substances_with_ATC[["ATC", "NAZEV_EN"]].drop_duplicates()))

print()
print(len(substances_with_ATC_concat))
print(len(substances_with_ATC_concat.drop_duplicates()))

6810
6810
6810

13620
12273

## Extended ATC substances

In [14]:
drug_code_to_substance_code = content_drugs[["KOD_SUKL", "KOD_LATKY"]].dropna()
drug_code_to_substance_code["KOD_LATKY"] = drug_code_to_substance_code["KOD_LATKY"].apply(lambda x: round(x))
drug_code_to_substance_code.index = drug_code_to_substance_code["KOD_SUKL"]
drug_code_to_substance_code = drug_code_to_substance_code[["KOD_LATKY"]]

drug_code_to_atc = products.copy()
drug_code_to_atc.index = drug_code_to_atc["KOD_SUKL"]
drug_code_to_atc = drug_code_to_atc.drop(["KOD_SUKL"], axis=1)

substance_code_to_atc_duplicated = drug_code_to_substance_code.join(drug_code_to_atc, how="left")[["KOD_LATKY", "NAZEV", "ATC_WHO"]]
substance_code_to_atc_duplicated["KOD_SUKL"] = substance_code_to_atc_duplicated.index
substance_code_to_atc_duplicated.index = substance_code_to_atc_duplicated["KOD_LATKY"]
substance_code_to_atc_duplicated = substance_code_to_atc_duplicated.drop(["KOD_LATKY"], axis=1)

substance_code_to_atc = substance_code_to_atc_duplicated.drop([-1, 0]).groupby(["KOD_LATKY"], group_keys=True).apply(
    lambda x: x["ATC_WHO"].value_counts().sort_values(ascending=False).index[0])

print(len(substance_code_to_atc))
print(len(substance_code_to_atc) / len(substances_sukl_code) * 100)
substance_code_to_atc.head(3)

4838
23.608061289220707

KOD_LATKY
1        V11
2    M02AA10
8    V10XA01
dtype: object

In [15]:
temp = synonyms["KOD_LATKY"].apply(lambda x: substance_code_to_atc[x] if x in substance_code_to_atc else "N/A")
synonyms_linked = synonyms[temp != "N/A"].copy()
synonyms_linked["ATC"] = temp[temp != "N/A"]
synonyms_linked = synonyms_linked[~(synonyms_linked[["NAZEV", "ATC"]].duplicated())]

temp = substances_sukl_code.apply(lambda x: substance_code_to_atc[x.KOD_LATKY]
                           if x.KOD_LATKY in substance_code_to_atc else "N/A", axis=1)
substances_to_atc = substances_sukl_code[temp != "N/A"].copy()
substances_to_atc["ATC"] = temp[temp != "N/A"]

name_to_atc = pd.DataFrame()
name_to_atc["NAME"] = "N/A"
name_to_atc["ATC"] = "N/A"

length = len(name_to_atc)
temp = pd.DataFrame()
temp["NAME"] = synonyms_linked["NAZEV"].reset_index(drop=True)
temp["ATC"] = synonyms_linked["ATC"].reset_index(drop=True)
temp.index = temp.index + length
name_to_atc = pd.concat([name_to_atc, temp])


print(len(name_to_atc))
print(len(name_to_atc) / len(synonyms) * 100)
print(len(name_to_atc) / len(substances_with_ATC_concat) * 100)
name_to_atc = name_to_atc.dropna()
name_to_atc.head(3)

71919
27.136173263404146
528.0396475770925

                             NAME  ATC
0  ARTEMISIA ABSINTHIUM L., HERBA  V11
1      HERBA ARTEMISIAE ABSINTHII  V11
2              ABSINTHII SUMMITAS  V11

In [16]:
length = len(name_to_atc)
temp = pd.DataFrame()
temp["NAME"] = substances_with_ATC_concat["NAZEV"].reset_index(drop=True)
temp["ATC"] = substances_with_ATC_concat["ATC"].reset_index(drop=True)
temp.index = temp.index + length
name_to_atc = pd.concat([name_to_atc, temp])

name_to_atc = name_to_atc.dropna()
name_to_atc = name_to_atc.rename(columns={"NAME": "NAZEV"})
name_to_atc.head(3)

                            NAZEV  ATC
0  ARTEMISIA ABSINTHIUM L., HERBA  V11
1      HERBA ARTEMISIAE ABSINTHII  V11
2              ABSINTHII SUMMITAS  V11

In [17]:
temp = synonyms["KOD_LATKY"].apply(lambda x: substance_code_to_atc[x] if x in substance_code_to_atc else "N/A")
synonyms_linked = synonyms[temp != "N/A"].copy()
synonyms_linked["ATC"] = temp[temp != "N/A"]

print(len(synonyms_linked))
synonyms_linked = synonyms_linked[~(synonyms_linked[["NAZEV", "ATC"]].duplicated())]
print(len(synonyms_linked))

82883
71919

In [18]:
print(len(name_to_atc))
print(len(name_to_atc.drop_duplicates()))

85539
82461

In [19]:
result = pd.DataFrame()
result["NAME"] = "N/A"
result["ATC"] = "N/A"

length = len(result)
temp = pd.DataFrame()
temp["NAME"] = substances_to_atc["NAZEV_INN"].reset_index(drop=True)
temp["ATC"] = substances_to_atc["ATC"].reset_index(drop=True)
temp.index = temp.index + length
result = pd.concat([result, temp])

length = len(result)
temp = pd.DataFrame()
temp["NAME"] = substances_to_atc["NAZEV_EN"].reset_index(drop=True)
temp["ATC"] = substances_to_atc["ATC"].reset_index(drop=True)
temp.index = temp.index + length
result = pd.concat([result, temp])

length = len(result)
temp = pd.DataFrame()
temp["NAME"] = substances_to_atc["NAZEV"].reset_index(drop=True)
temp["ATC"] = substances_to_atc["ATC"].reset_index(drop=True)
temp.index = temp.index + length
result = pd.concat([result, temp])

result = result.dropna()
result = result.rename(columns={"NAME": "NAZEV"})

print(len(name_to_atc.drop_duplicates()))
print(len(pd.concat([result, name_to_atc]).drop_duplicates()))

82461
82461

In [20]:
synonyms_linked

,KOD_LATKY,SQ,ZDROJ,NAZEV,ATC
0,1,1.0,CZ,"ARTEMISIA ABSINTHIUM L., HERBA",V11
1,1,2.0,C03S,HERBA ARTEMISIAE ABSINTHII,V11
2,1,3.0,Y03,ABSINTHII SUMMITAS,V11
3,1,4.0,HH5S,ABSINTHII CACUMINA FLORENTIA,V11
4,1,5.0,C04,HERBA ABSINTHII,V11
...,...,...,...,...,...
264974,52086,29.0,F11,ARNICA (WHOLE PLANT) FOR HOMOEOPATHIC PREPARAT...,V12
264975,52086,30.0,F11,ARNICA MONTANA FOR HOMOEOPATHIC PREPARATIONS,V12
264976,52086,NaN,CZ,ARNICA MONTANA - TINCTURA BASICA AD USUM HOMEO...,V12
264979,52088,1.0,CZ,DACTYLOPIUS COCCUS 5 CH,V12
264980,52088,NaN,CZ,DACTYLOPIUS COCCUS 5 C,V12

In [21]:
name_to_atc.drop_duplicates()

                                            NAZEV      ATC
0                  ARTEMISIA ABSINTHIUM L., HERBA      V11
1                      HERBA ARTEMISIAE ABSINTHII      V11
2                              ABSINTHII SUMMITAS      V11
3                    ABSINTHII CACUMINA FLORENTIA      V11
4                                 HERBA ABSINTHII      V11
...                                           ...      ...
85531                      SODIUM PHOSPHATE (32P)  V10XX01
85532                  IBRITUMOMAB TIUXETAN (90Y)  V10XX02
85536  FYTOPHARMAC PREPARATIONS (CZECH ATC GROUP)      V11
85537   HOMEOPATIC PREPARATIONS (CZECH ATC GROUP)      V12
85538                          SURGICAL DRESSINGS      V20

[82461 rows x 2 columns]